html, body {
  padding: 0;
  margin: 0;
}
body {
  background-color: #202020;
}
body > div:last-of-type {
  left: 0 !important;
  right: initial !important;
}
::-webkit-scrollbar {
  width: 10px;
}

li > * {
  vertical-align: text-top;
  margin-left: -5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #323b44;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f2633;
  border-left: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

ul {
  margin: 0;
  padding-left: 25px;
}

/*
 * [start] for toaster
 */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

/*
 * [end] for toaster
 */